*{
    margin: 0px;
    padding: 0px;
    
}

body{
    width: 100%;
    height: 100%;
    }
 header:hover{
  box-shadow: inset 0 0 0 3px #53ea93;
}

header{
    
    
    width: 100%;
    height: 200px;
    background-image: url(img/dof.png)


}
nav{
    background-image:url(img/pop.jpg); 
    width: 100%;
    height:100px;
    padding: 0px;
    float: left;

}
nav>div>a:hover{
background-color:yellow;
}
nav>div>a:active{
background-color:green;
}
.menu{
    height: 30px;
    width: 190px;
    text-align: center;
     display: inline-block;
    color:black;
    font-size: 25px;
    text-decoration: none;
    padding:20px; 
    margin: 14px;
    float: left;
    border: 3px solid #fff; 
   border-radius:40px 10px ;
background-color: red;

}
main{
float: left;
    background-image:url(img/main.jpg);
background-repeat: no-repeat;
    width: 100%;
    height: 100%;


}
footer{
    width: 100%;
    height:80px;
    background-color: #41874E;
    margin-bottom: 10px;
}

article{
    display: block;
    float: left;
    background-color:white;  
padding-top: 20px;  
width:200px;
border:5px solid black;
border-radius:5px 5px 5px 5px;
margin: 10px;
margin-left:60px ; 

}
 article img{
width:200px;
height:200px;
 border-bottom: 5px solid black;

}
 article h2{
    width:90%;
    margin-left:5px;
    font-weight:normal;
    font-size:1.7em;
    color:#4a4a4a;
    text-align: center;

}
 article p{
    width:80%;
    font-size:1em;

}
 article a{
    padding:5px;
    background-color:#ed7d7d;
    border-radius:5px;
    color:red;
    text-decoration: none;
    float: left;
}
 article a:hover{
    color: yellow
 }
main>div>p{
display:inline-block;

}
footer { height: 100px; 
    width: 100%; 
     position:relative; 
     overflow:hidden; 
     background: #f2940d;
     margin: 0px;
    padding: 0px;
}
 aside{
 background: green;
    overflow: hidden;
    width: 200px;
    height: 600px;
   float: right;
 position:relative; 
 display: block;
   }
section{
padding: 10px;
  clear: left;
  color: black;
  font-size: 18px;
}
.youtube{
    width: 50px;
    height :50px;
    float: right;
    padding: 2px;
    margin: 15px;
}
#footer_menu{
    float: left;
    margin: 40px;
    text-decoration:none;
}
.footer_menu_a{
    text-decoration: none;
    font-size:20px;
    margin: 5px;
    border: ridge #0f0;
    background-color:gold;  
}
/* годиник*/
#digital_watch{
    color: red; 
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
    background-color: gold;
     ;
}
/* /годиник*/
