
   article{
    display: block;
    float: left;
    background-color:white;  
padding-top: 10px;  
width:200px;
border:5px solid black;
border-radius:5px 5px 5px 5px;
margin: 5px;
margin-left:60px ; 

}
 article img{
width:200px;
height:200px;
 border-bottom: 5px solid black;

}

.menu{
    height: 30px;
    width: 170px;
    text-align: center;
     display: inline-block;
    color:black;
    font-family: fantasy    ;
    font-size: 15px;
    text-decoration: none;
    padding:20px; 
    margin: 14px;
    float: left;
    border: 3px solid #fff; 
   border-radius:40px 10px ;
background-color: red;
}

main>div>p{
display:inline-block;
}
nav{
    background-image:url(img/pop.jpg); 
    width: 100%;
    height:100px;
    padding: 0px;
    float: left;

}
nav>div>a:hover{
background-color:yellow;
}
nav>div>a:active{
background-color:green;
}
